@font-face{
    font-family: 'Koh SantepheapB';
    src: url(/Resources/KohSantepheap-Bold.ttf);
    font-weight: bold;
    font-style: bold;
    }
@font-face{
    font-family: 'Koh Santepheapl';
    src: url(/Resources/KohSantepheap-Light.ttf);
    font-weight: 300;
    font-style: light;
}
@font-face{
    font-family: 'Koh Santepheap';
    src: url(/Resources/KohSantepheap-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
body{
    box-sizing: border-box;
    font-family: 'Koh Santepheap';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}
form{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 650px;
    height: auto;
    margin: auto;
}
.form h2{
    color: black;
    margin: none;
}
.form p{
    font-size: medium;
    color: #0A2A7C;
    margin-bottom: 35px;
}

.input-wrapper{
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}
input{
    align-content: center;
    font-family: 'Koh Santepheapl';
    color: black;
    padding: 10px 10px 10px 10px;
    width: 55%;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    outline: none;
    font-size: small;
}
select{
    border: none;
    border-bottom: 1PX solid #FFFFFF;
    width: 55%;
    font-family: 'Koh Santepheapl';
    color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    }
.input::placeholder{
    font-family: 'Koh Santepheapl';
    color: #0A2A7C;
}


.success{
    position: absolute;
    align-content: center;
    align-items: center;
    top: 65%;
    left: 20%;
    bottom: 25%;
    width: 60%;
    height: 5%;
    margin: auto;
    padding: 0;
    bottom: 20%;
    color: white;
    background-color: rgb(74, 114, 84);
    font-size: small;
}
.error{
    position: absolute;
    align-content: center;
    align-items: center;
    top: 65%;
    left: 20%;
    bottom: 25%;
    width: 60%;
    height: 5%;
    margin: auto;
    padding: 0;
    bottom: 20%;
    color: white;
    background-color: red;
    font-size: small;
}
.btn{
        font-family: 'Koh SantepheapB';
        color: white;
        padding: 17.5px;
        background: linear-gradient(
        90deg, 
        rgba(94, 143, 146,1) 25%,
        rgb(12, 16, 77) 100%);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        font-size: medium;
        cursor: pointer;
}
.btn::hover{
    background: #BBBBBB;
}

@media(max-width:991px){
    body{
        padding: 10px;
    }
    form{
        padding: 20px;
        width: 100%;
    }
    .input-wrapper{
        position: relative;
        width: 100%;
        margin-bottom: 15px;
    }
    input{
        padding: 10px 0px 10px 0px;
    }
    .input-icon{
        height: 20px;
        width: 20px;
    }
    select{
        padding: 10px 0px 10px 0px;
    }
}
*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}
.footer{
    width: 100%;
    background-color: #292d38;
    height: auto;
    align-items: center;
    text-align: center;
    margin: 0;
    position: absolute;
    padding: 20px;
    bottom: 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}
.footer-links{
    width: 50%;
    padding: 0;
}
.footer-links h4{
    color: #FFFFFF;
    margin-bottom: 15px;
    font-weight: 500;
    border-bottom: 2px solid #d8e0f3;
    padding-bottom: 15px;
    display: inline-block;
}
.footer-links ul li a{
    font-size: small;
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}
.footer-links ul li a:hover{
    color: white;
    padding-left: 6px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #0A2A7C;
    margin: 0 10px 0 10px;
    text-align: center;
    align-items: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all, 0.5s, ease-in;
}
.social-link a:hover{
    background-color: #2952BC;
}

.barradetareas{
    background: linear-gradient(
        90deg, 
        rgb(38, 52, 70) 25%,
        rgb(12, 16, 77) 100%);
    font-family: 'Koh Santepheapl';
    font-size: medium;
    text-align: left;
    color: white;
    padding: 2em;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}

